<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADDITION</h1>
    <form action="" method="post">
        {%csrf_token%} 
        <input type="text" name="num1" placeholder="enter number1">
        <input type="text" name="num2" placeholder="enter number2">
        <input type="submit" value="add">

        output:{{result}}
    </form>
</body>
</html>