<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CALCULATOR</h1>
    <a href="{%url 'addition'%}">ADDITION</a>
    <a href="{%url 'sub'%}">SUBTRACTION</a>
    <a href="{%url 'multi'%}">MULTIPLICATION</a>
    <a href="{%url 'division'%}">DIVISION</a>
    <a href="{%url 'factorial'%}">FACTORIAL</a>
    <a href="{%url 'prime'%}">PRIME NUMBER</a>
    <a href="{%url 'armstrong'%}">ARMSTRONG</a>
    <a href="{%url 'pal'%}">PALINDROM</a>
    <a href="{%url 'range'%}">EVEN NUMBERS RANGE</a>
</body>
</html>