<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DEGREE CELSIUS TO FARENHEIT</h1>
    <form action="" method="post">
        {%csrf_token%}
        <input type="text" name="temp" placeholder="enter temp in celcius">
        <input type="submit" value="find">
    </form>
    converted value:{{result}}
</body>
</html>